.Button {
  @include flex(row nowrap, center, center, center, $inline: true);
  @include typo-text-default();
  @include box-shadow-default();

  appearance: none;
  outline: none;
  cursor: pointer;
  background-color: var(--color-bg-primary);
  color: var(--color-fg-primary);
  border: 1px solid var(--color-bg-primary-alt);
  border-radius: $border-radius;
  transition: bord $transition-speed-base $transition-timing;

  &:hover {
    border: 1px solid var(--color-accent-primary);
  }

  &--m {
    padding: $space-s $space-m;
  }

  &--l {
    padding: $space-m $space-l;
  }
}
