.Link {
  @include typo-text-default() {
    font-weight: $font-weight-bold;
    font-size: inherit;
  }

  color: var(--color-fg-primary);
  white-space: nowrap;

  svg {
    height: 100%;
  }

  &::before,
  &::after,
  svg {
    color: var(--color-accent-primary);
  }

  &:hover {
    color: var(--color-accent-primary);
  }

  &--external {
    svg {
      margin-right: $space-xs;
      position: relative;
      top: 2.5px;
    }
  }

  &--internal {
    &::before,
    &::after {
      position: relative;
      top: -1px;
    }

    &::before {
      content: '[[';
      margin-right: $space-xxs;
    }

    &::after {
      content: ']]';
      margin-left: $space-xxs;
    }
  }
}
