/*
 * This file contains color-variables
 */
$color-off-white: #c9d1d9 !default;
$color-white: #e7eaec !default;

$color-dark-grey: #0d1117 !default;
$color-mid-dark-grey: #111822 !default;
$color-mid-light-grey: #1a212c !default;

$color-accent: #2ea043 !default;

$text-color: $color-dark-grey;
