/*
 * This file contains color-variables
 */
$color-off-white: #c9d1d9 !default;
$color-white: #ffffff !default;

$color-dark-grey: #0d1117 !default;
$color-mid-dark-grey: #111822 !default;
$color-mid-light-grey: #1a212c !default;

$color-green: #2ea043;
$color-blue: #0366d6;
$color-blue-light: #58a6ff;

$text-color-darkMode: $color-off-white;
$text-color-lightMode: $color-dark-grey;
