/*
 * This file contains color-variables
 */

// TODO Define a good color palette
// Color Palette
$color-black: #0d1117;
$color-gray: #2b303a;
$color-green: #3f6634;
$color-yellow: #deb841;
$color-orange: #de9e36;
$color-red: #98473e;
$color-cyan: #77a0a9;
$color-blue: #2d3161;
$color-pink: #d6c3c9;
$color-offWhite: #eee5e9;
$color-white: #f6f8f9;

// TODO Define shades
// Shades
$color-gray--darkest: darken($color-gray, 10%);
$color-gray--darker: darken($color-gray, 5%);
$color-gray--lighter: lighten($color-gray, 5%);
$color-gray--lightest: lighten($color-gray, 15%);

$color-green--darkest: darken($color-green, 25%);
$color-green--darker: darken($color-green, 15%);
$color-green--lighter: lighten($color-green, 5%);
$color-green--lightest: lighten($color-green, 15%);

$color-yellow--darkest: darken($color-yellow, 25%);
$color-yellow--darker: darken($color-yellow, 15%);
$color-yellow--lighter: lighten($color-yellow, 5%);
$color-yellow--lightest: lighten($color-yellow, 15%);
// ...

$color-bg-primary--darkMode: $color-black;
$color-bg-primary--lightMode: $color-offWhite;

$color-fg-primary-darkMode: $color-offWhite;
$color-fg-primary-lightMode: $color-gray--darker;
