.Page {
  min-height: 100vh;

  &--dark {
    background: $color-bg-primary--darkMode;
    color: $color-fg-primary--darkMode;
  }

  &--light {
    background: $color-bg-primary--lightMode;
    color: $color-fg-primary--lightMode;
  }
}
