.Button {
  @include flex(row nowrap, center, center, center, $inline: true);
  @include typo-text-default();
  @include box-shadow-default();

  background-color: var(--bg-primary);
  color: var(--fg-primary);
  border: 1px solid var(--bg-secondary);
  border-radius: $border-radius;
  transition: all $transition-speed-very-fast $transition-timing;
  appearance: none;
  outline: none;
  cursor: pointer;

  &:hover {
    border: 1px solid var(--accent-primary);
    color: var(--accent-primary);
  }

  &--m {
    padding: $space-s $space-m;
  }

  &--l {
    padding: $space-m $space-l;
  }
}
