.Button {
  @include flex(row nowrap, center, center, center, $inline: true);
  @include typo-text-default();

  @apply shadow-lg rounded-md;

  appearance: none;
  border: none;
  outline: none;
  cursor: pointer;

  &--m {
    @apply p-2;
  }

  &--l {
    @apply p-4;
  }

  // TODO Remove after TW DarkMode
  &--dark {
    @apply text-gray-50 bg-gray-900;
    @apply border border-solid border-gray-600;
    @apply hover:text-green-300;
    @apply hover:border-green-300;
  }

  &--light {
    @apply text-gray-900 bg-gray-50;
    @apply border border-solid border-gray-500;
    @apply hover:text-blue-600;
    @apply hover:border-blue-600;
  }
}
