/*
 * This file contains generic application-wide Sass variables.
 */

$border-color: var(--color-fg-primary);
$border-default: 1px solid $border-color;
$border-radius: 5px;
$border-radius-l: 8px;
$border-radius-xl: 12px;

$transition-speed-very-fast: 125ms;
$transition-speed-fast: 250ms;
$transition-speed-base: 500ms;
$transition-speed-slow: 750ms;
$transition-speed-extra-slow: 1s;
$transition-timing: cubic-bezier(0.16, 1, 0.3, 1);
