.Home {
  &__intro {
    .Section__content {
      display: grid;
      grid-template-columns: repeat(1, minmax(250px, 1fr));
      gap: $space-m;

      @include mq('m') {
        grid-template-columns: repeat(2, minmax(150px, 1fr));
        gap: $space-l;
      }
    }

    &-image,
    &-text {
      line-height: 0;
    }

    &-image {
      img {
        --max-height: 350px;

        @include mq('m') {
          --max-height: 100%;
        }

        object-fit: cover;
        width: 100%;
        height: 100%;
        max-height: var(--max-height);
      }
    }

    &-text {
      .Headline {
        margin-top: 0;
      }
    }
  }
}
