// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------

.Home {
  min-height: 100vh;
  max-width: 900px;
  margin: 0 auto;
  padding: $space-m;
}
