// TODO Style Experience component
.Experience {
  @include box-shadow-default();
  @include flex(
    column nowrap,
    space-between,
    center,
    center,
    $inline: true
  );

  text-align: center;
  padding: $space-m;
  border: 1px solid var(--color-bg-ternary);
  border-radius: $border-radius;
  background: var(--color-bg-secondary);
  color: var(--color-fg-primary);

  &.Experience--current {
    background: var(--color-bg-secondary);

    .Experience__title,
    .Experience__date-range,
    .Experience__company,
    .Experience__details {
      color: var(--color-accent-primary);
    }
  }

  &__title {
    margin-bottom: $space-m;
  }

  &__date-range {
    margin-bottom: $space-m;
  }

  &__company {
    font-weight: bold;
  }
}
