.Button {
  @include flex(row nowrap, flex-start, center, center, $inline: true);

  padding: $space-xs $space-s;
  height: 35px;
  border: none;
  border-radius: $border-radius;
  outline: none;
  font-size: $font-size-text;
  cursor: pointer;

  .svg-inline--fa {
    height: 75%;
    width: $space-l;
  }

  &--withLabel {
    .svg-inline--fa {
      margin-right: $space-xs;
    }
  }

  // When the Button contains an Icon, it somehow shifts to the top
  &--withIcon {
    position: relative;
    top: 0.25rem;
  }

  &--dark {
    background: $color-bg-primary--darkMode;
    color: $color-fg-primary--darkMode;
    border: 1px solid $color-gray--lighter;

    &:hover {
      color: $color-accent-primary--darkMode;
    }
  }

  &--light {
    background: $color-bg-primary--lightMode;
    color: $color-fg-primary--lightMode;
    border: 1px solid $color-fg-primary--lightMode;

    &:hover {
      color: $color-accent-primary--lightMode;
    }
  }
}
