// TODO Style Experience component
.Experience {
  @include flex(
    column nowrap,
    space-between,
    center,
    center,
    $inline: true
  );
  @include box-shadow-default();

  padding: $space-m;
  border: $border-default;
  border-radius: $border-radius;
  text-align: center;

  &__title {
    margin-bottom: $space-m;
  }

  &__date-range {
    margin-bottom: $space-m;
  }

  &__company {
    font-weight: bold;
  }

  &--dark {
    background: $color-gray--darker;
    color: $color-fg-primary--darkMode;

    &.Experience--current {
      .Experience__title,
      .Experience__date-range,
      .Experience__company,
      .Experience__details {
        color: $color-accent-primary--darkMode;
      }
    }
  }

  &--light {
    background: $color-white;
    color: $color-fg-primary--lightMode;

    &.Experience--current {
      .Experience__title,
      .Experience__date-range,
      .Experience__company,
      .Experience__details {
        color: $color-accent-primary--lightMode;
      }
    }
  }
}
