// TODO Style Experience component
.Experience {
  border-radius: $border-radius;
  padding: $space-m;

  &--dark {
    background: $color-dark-grey;
    color: $color-off-white;

    &.Experience--current {
      color: $color-accent;
    }
  }

  &--light {
    background: $color-off-white;
    color: $color-dark-grey;

    &.Experience--current {
      color: $color-accent;
    }
  }
}
