.Link {
  font-size: $font-size-text;
  font-weight: $font-weight-bold;

  svg {
    height: $font-size-text;
  }

  &--external {
    svg {
      margin-right: $space-xxs;
      position: relative;
      top: 2.5px;
    }
  }

  &--internal {
    &::before,
    &::after {
      position: relative;
      top: -1px;
    }

    &::before {
      content: '[[';
      margin-right: $space-xxs;
    }

    &::after {
      content: ']]';
      margin-left: $space-xxs;
    }
  }

  &--dark {
    color: $color-fg-primary--darkMode;

    &::before,
    &::after,
    svg {
      color: $color-accent-primary--darkMode;
    }

    &:hover {
      color: $color-accent-primary--darkMode;

      &::before,
      &::after,
      svg {
        color: $color-accent-primary--darkMode;
      }
    }
  }

  &--light {
    color: $color-fg-primary--lightMode;

    &::before,
    &::after,
    svg {
      color: $color-accent-primary--lightMode;
    }

    &:hover {
      color: $color-accent-primary--lightMode;

      &::before,
      &::after,
      svg {
        color: $color-accent-primary--lightMode;
      }
    }
  }
}
