// TODO Write MediaQueries
.Main {
  @include grid(1fr, 0, auto, $space-l);

  @include mq('l') {
    padding: $space-l;
  }

  &--dark {
    background: $color-dark-grey;
    color: $color-off-white;
  }

  &--light {
    background: $color-white;
    color: $color-dark-grey;
  }
}
