// TODO Write MediaQueries
.Main {
  $padding-top: calc(#{$height-nav} + #{$space-m});

  padding: $padding-top $space-m $space-m $space-m;

  &--dark {
    background: $color-dark-grey;
    color: $text-color-darkMode;
  }

  &--light {
    background: $color-white;
    color: $text-color-lightMode;
  }
}
