.Nav {
  @include flex(row nowrap, space-between, center, center);
  @include box-shadow-default();

  padding: $space-m;
  position: fixed;
  top: 0;
  width: 100%;
  height: $height-nav;
  z-index: $zIndex-nav;

  &__name {
    .Headline {
      margin: 0;
    }
  }

  &__buttons {
    .Button {
      margin-right: $space-s;
    }
  }

  &--dark {
    background: $color-dark-grey;
    color: $text-color-darkMode;
  }

  &--light {
    background: $color-white;
    color: $text-color-lightMode;
  }
}
