.Nav {
  @include flex(row nowrap, space-between, center, center);

  padding: $space-m $space-l;
  border-bottom: $border-default;

  &__name {
    .Headline {
      margin: 0;
    }
  }

  &__theme-buttons {
    @include grid(repeat(2, 1fr), $space-s);
  }

  &__links {
    *:not(:last-child) {
      margin-right: $space-s;
    }
  }

  &--dark {
    background: $color-bg-primary--darkMode;
    color: $color-fg-primary-darkMode;
  }

  &--light {
    background: $color-bg-primary--lightMode;
    color: $color-fg-primary-lightMode;
  }
}
