// TODO Write MediaQueries
.Section {
  $zIndex-section: 1; // TODO Outsource
  $zIndex-backgroundOverlay: $zIndex-section + 1;
  $zIndex-backgroundBlur: $zIndex-backgroundOverlay + 1;
  $zIndex-page-content: $zIndex-backgroundBlur + 1;

  position: relative;
  z-index: $zIndex-section;
  padding: $space-m;
  margin-bottom: $space-l;

  &__content {
    position: relative;
    z-index: $zIndex-page-content;
    width: 100%;
    height: 100%;
  }

  &__backgroundBlur {
    @include overlay($zIndex-backgroundBlur);

    backdrop-filter: blur(10px);
  }

  &__backgroundOverlay {
    @include overlay($zIndex-backgroundOverlay);

    background-color: rgba(0, 0, 0, 0.75);
  }

  &__backgroundVideo {
    @include overlay($zIndex-section);
  }

  &--debug {
    border: 1px solid red;

    .Page__content {
      border: 1px solid blue;
    }

    * {
      border: 1px solid red;
    }
  }

  &--backgroundImage {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}
