// TODO Style Experience component
.Skill {
  @include flex(row nowrap, flex-start, center, center);
  @include shadowAndEffect();

  height: 50px;
  padding: $space-s $space-m;
  margin: $space-s 0;
  border-radius: $border-radius;

  svg {
    height: 100%;
    width: 20px;
    margin-right: $space-m;
  }

  progress {
    margin-right: $space-m;
  }
}
