// TODO Style Experience component
.Skill {
  @include flex(column nowrap, flex-start, center, center);

  padding: $space-m;
  border-radius: $border-radius;

  svg {
    height: 50px;
    margin-bottom: $space-m;
  }

  progress {
    margin-right: $space-m;
  }

  &--dark {
  }

  &--light {
  }
}
