.Skill {
  @include flex(column nowrap, flex-start, center, center);
  @include box-shadow-default();

  $skill-border-radius: calc(#{$border-radius} * 2);

  border-radius: 0 0 $skill-border-radius 0;
  overflow: hidden;

  &__level,
  &__caption {
    width: 100%;
  }

  &__level {
    height: 0.75rem;
  }

  &__caption {
    @include flex(row nowrap, flex-start, flex-start, center);

    padding: $space-m $space-l;
    position: relative;
    top: 1px;
  }

  &__icon {
    margin-right: $space-m;

    svg {
      $size: $font-size-h6;

      height: $size;
      width: $size;
    }
  }

  &__title {
    font-weight: 100;
    margin: 0;
    padding: 0;
  }

  &--dark {
    border: 1px solid $color-black--lightest;
    background-color: $color-bg-secondary--darkMode;
    color: $color-fg-primary--darkMode;
  }

  &--light {
    border: 1px solid $color-gray;
    background-color: $color-bg-secondary--lightMode;
    color: $color-fg-primary--lightMode;
  }
}
