@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;800&display=swap');

$heading-font-stack: 'Open Sans', sans-serif !default;
$text-font-stack: 'Open Sans', sans-serif !default;

$font-size-h1: 3rem;
$font-size-h2: 2.5rem;
$font-size-h3: 2rem;
$font-size-h4: 1.75rem;
$font-size-h5: 1.5rem;
$font-size-h6: 1.25rem;
$font-size-text: 1.25rem;
$font-size-quote: 2rem;

$font-weight-bold: 800;
$font-weight-semi-bold: 600;
$font-weight-normal: 400;
$font-weight-light: 300;

$line-height-heading: 1;
$line-height-default: 1.25;

@mixin typo-heading-default() {
  font-weight: $font-weight-bold;
  font-family: $heading-font-stack;
  line-height: $line-height-heading;
  font-variant: normal;
  font-style: normal;
  margin: 0.5em 0;

  @content;
}

@mixin typo-h1-default() {
  @include typo-heading-default() {
    font-size: $font-size-h1;
  }

  padding: 0 0 0.25em 0;
  margin: 0.35em 0;
  border-bottom: $border-default;

  @content;
}

@mixin typo-h2-default() {
  @include typo-heading-default() {
    font-size: $font-size-h2;
  }

  padding: 0 0 0.25em 0;
  margin: 0.25em 0;
  border-bottom: $border-default;

  @content;
}

@mixin typo-h3-default() {
  @include typo-heading-default() {
    font-size: $font-size-h3;
  }

  @content;
}

@mixin typo-h4-default() {
  @include typo-heading-default() {
    font-size: $font-size-h4;
  }

  @content;
}

@mixin typo-h5-default() {
  @include typo-heading-default() {
    font-size: $font-size-h5;
  }

  @content;
}

@mixin typo-h6-default() {
  @include typo-heading-default() {
    font-size: $font-size-h6;
  }

  @content;
}

@mixin typo-text-default() {
  font-family: $text-font-stack;
  font-size: $font-size-text;
  font-weight: $font-weight-normal;
  line-height: $line-height-default;
  font-style: normal;
  font-variant: normal;

  @content;
}

@mixin typo-blockquote-default() {
  font-family: $text-font-stack;
  font-size: $font-size-quote;
  font-weight: $font-weight-normal;
  font-style: normal;
  font-variant: normal;

  @content;
}

@mixin typo-pre-default() {
  font-family: $text-font-stack;
  font-size: $font-size-text;
  font-weight: $font-weight-normal;
  font-style: normal;
  font-variant: normal;

  @content;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font: normal 100% / 1.5 $text-font-stack;
}

h1 {
  @include typo-h1-default();
}

h2 {
  @include typo-h2-default();
}

h3 {
  @include typo-h3-default();
}

h4 {
  @include typo-h4-default();
}

h5 {
  @include typo-h5-default();
}

h6 {
  @include typo-h6-default();
}

strong {
  font-weight: $font-weight-semi-bold;
}

p {
  @include typo-text-default();
}

blockquote {
  @include typo-blockquote-default();
}

pre {
  @include typo-pre-default();
}
