.Skill {
  @include flex(column nowrap, flex-start, flex-start, center);
  @include box-shadow-default();

  background-color: var(--color-bg-secondary);
  border: 1px dashed var(--color-bg-ternary);
  color: var(--color-fg-primary);
  overflow: hidden;

  &__level,
  &__caption {
    width: 100%;
  }

  &__level {
    background: var(--color-accent-primary);
    height: 1rem;
  }

  &__caption {
    @include flex(row nowrap, flex-start, center, center);

    padding: $space-m $space-l;
    position: relative;
    top: 1px;
  }

  &__icon {
    @include flex(row nowrap, center, center, center);

    margin-right: $space-m;

    svg {
      $size: $font-size-h6;

      height: $size;
      width: $size;
    }
  }

  &__title {
    @include typo-h6-default() {
      font-weight: $font-weight-normal;
      border-bottom: none;
    }

    margin: 0;
    padding: 0;
  }
}
